.nav {
    width: screen;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 7vh;
    margin-right: 7vh;
    margin-top: 1vh;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    padding-top: 30px;
}

.nav-right {
    height: 97px;
}

.home-nav {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2e266f;
    border: none;
    background: transparent;
    text-decoration: none;
}
.search-register-nav:hover,
.search-register-nav:focus {
    color: #1a144b;
    text-decoration: underline;
}

.login-nav {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2e266f;
    text-decoration: none;
}
.search-login-nav:hover,
.search-login-nav:focus {
    color: #1a144b;
}

.search-menu-nav {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2e266f;
    text-decoration: none;
}
.search-menu-nav:hover,
.search-menu-nav:focus {
    color: #1a144b;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
